/.coverage/
/.tmp/
/.git
/.git-blame-ignore
/.github
/.githooks/
/.gitignore
/.markdownlint.json
/.taplo.toml
/.vscode
/.yamllint-ci.yml
/AGENTS.md
/bin/
/codecov.yaml
/compose.*.yaml
/cspell.json
/data.db
/docs/
/docker/bin/
/etc/
/integration_tests_sqlite3.db
/NOTICE
/project-words.txt
/README.md
/rustfmt.toml
/storage/
/target/
/tracker.*
