.env
*.code-workspace
**/*.rs.bk
/.coverage/
/.idea/
/.vscode/launch.json
/data.db
/database.db
/database.json.bz2
/flamegraph.svg
/storage/
/target
/tracker.*
/tracker.toml
callgrind.out
codecov.json
integration_tests_sqlite3.db
lcov.info
perf.data*
rustc-ice-*.txt
